name: Build and Push

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push SSO
        uses: docker/build-push-action@v5
        with:
          context: .
          target: sso
          push: true
          tags: ghcr.io/ayasmyslov/sso:latest

      - name: Build and push SSO migrator
        uses: docker/build-push-action@v5
        with:
          context: .
          target: migrate
          push: true
          tags: ghcr.io/ayasmyslov/sso-migrate:latest
